.band-cart img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 10px;
}
.band-cart{
    border: 2px solid rgba(0, 0, 0, 0.337);
    background-color: rgb(216, 228, 252);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 250px;  
}
.band-details{
    margin-bottom: 10px;
}
.band-details button{
    background-color: rgb(145, 228, 203);
    border: 1px solid rgb(70, 4, 253);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.band-details button:hover{
    background-color: rgb(177, 181, 245);
    padding: 6px;
}
.band-cart:hover{
    background-color: rgb(189, 210, 253);
    transition: 0.4s;
    transform: translate( 0px, -10px);
}
.vocal{
    text-decoration: underline;
}